body{
    margin:0;
    font-family:'Baloo 2', cursive;
}



header{
    display:flex;
    align-items:center;

    background-color:#ffffff;

    padding:25px 40px;

    min-height:50px;

    border-bottom:3px solid #A8D5BA;
}



.logo{
    height:50px;
    width:auto;
}


nav{
    flex:1;

    display:flex;
    justify-content:space-evenly;
    align-items:center;
}

nav a{
    text-decoration:none;

    color:#2F5D50;

    font-size:35px;

    font-weight:800;
}

nav a:hover{
    color:#D4A017;
    transition:0.4s;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;

    height:calc(100vh - 110px);

    padding:0 80px;

    background-image:url("Hg\ icecream.jpeg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.hero-text{
    width:40%;

}

.hero-text h1{
    margin:0;
    font-size:60px;
}

.hero-text h2{
    font-size:36px;
}

.hero-text p{
    font-size:22px;
    line-height:1.5;
}

.hero-image img{
    width:450px;
    height:auto;
}
`